.info {
  display: flex;
  padding: 47px 0 0;
}

.info__item {
  flex: 1;
  max-width: 276px;
  position: relative;
  margin-left: 95px;
}

.info__item:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: -70px;
  width: 1px;
  height: 48px;
  background: #D2D6D9;
}

.info__item:first-child {
  flex: 1;
  padding-left: 0;
  margin-left: 0;
}

.info__item:first-child:before {
  display: none;
}

.info__icon {
  margin-bottom: 9px;
}

.info__title {
  font-size: 16px;
  line-height: 1.25;
}

@media screen and (max-width: 1400px) {
  .info {
    flex-wrap: wrap;
    padding-top: 34px;
  }

  .info__item {
    width: 50%;
    flex: none;
    max-width: none;
    margin-left: 0;
    box-sizing: border-box;
    padding-right: 160px;
  }

  .info__item:before {
    display: none;
  }

  .info__item:nth-child(n + 3) {
    padding-top: 38px;
  }

  .info__title {
    font-size: 14px;
  }
}

@media screen and (max-width: 765px) {
  .info {
    padding-top: 24px;
  }

  .info__item {
    width: 100%;
    padding-right: 19px;
    display: flex;
    align-items: center;
  }

  .info__item:nth-child(n + 2) {
    padding-top: 20px;
  }

  .info__icon {
    margin-bottom: 0;
    margin-right: 19px;
  }

  .info__icon img {
    max-width: 28px;
  }

  .info__title {
    font-size: 12px;
  }
}
